@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


* {
    scrollbar-width: auto;
    scrollbar-color: #cc8100 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b77400;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

html {
  scroll-behavior: smooth;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;

}

#bestProducts {
  font-family: 'Bree Serif', serif;
}

.bree {
  font-family: 'Bree Serif', serif;
}

.bg1 {
  background-image: url(/assets/bg/bgproducts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2 {
  background-image: url(/assets/bg/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg3 {
  background-image: url(/assets/bg/parallax2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg4 {
  background-image: url(/assets/bg/parallax-full-width.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.galbg0 {
  background-image: url(https://cdn.shopify.com/s/files/1/0012/3011/0804/files/category-img1_600x.jpg?v=1542965034);
  background-size: cover;
}




.bgfooter {
  background-image: url(/assets/bg/footer_1.jpg);
  /* background-size: 100%; */
  background-position: center;

}


/* drop down menu of account */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: rgb(255, 245, 63);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#gallery {}

footer {
  justify-content: baseline;
}


/* home page slide show view loader */

[data-component="slideshow"] .slide {
  display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* quantity counter css */
input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }